.idea/
.vscode/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
.classpath_nb
.cache
.classpath
.project
/.settings/
/bin/
*.log
/config/
rawlsdb/
.java-version

*.pid
automation/src/test/resources/
automation/.bsp/
automation/test-reports/
/.bsp/

.bloop/
.metals/
project/.bloop/
metals.sbt

rawls-assembly-0.1.jar

/local-mysqlstore