.swagger-section .swagger-ui-wrap .message-success {
    color: #00609d;
}

.swagger-section .swagger-ui-wrap .markdown h3 {
    color: #004775;
}

.swagger-section .swagger-ui-wrap p#colophon a {
    text-decoration: none;
    color: #004775;
}

.swagger-section #header {
    background-color: #00609d;
    padding: 14px;
}

.swagger-section #header a#logo {
    background: url("../images/broadlogo_400x400.jpg") no-repeat scroll left center / 40px 40px #00609d;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 10px 50px;
    text-decoration: none;
}

.swagger-section #header form#api_selector .input a#explore {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #004775;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.swagger-section #header form#api_selector .input a#explore:hover {
    background-color: #004775;
}