<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- See http://logback.qos.ch/manual/layouts.html -->
            <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
            <pattern>[%level] [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Thanks but no thanks on the giant block of log configuration status. -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="org.broadinstitute.dsde" level="info" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="console"/>
    </logger>

    <!--
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    -->
    <!--
    <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    -->
    <!--
    <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    -->
    <!-- netty (mock server) produces a huge amount of DEBUG output during tests without this line -->
    <logger name="io.netty" level="WARN"/>
    <logger name="org.broadinstitute.dsde.rawls.dataaccess.HttpGoogleServicesDAO" level="debug" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>
