name: Check formatting for modified files with scalafmt

on:
  pull_request:
    paths-ignore: ['**.md']

jobs:
  format:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
          ref: ${{ github.event.pull_request.head.sha }}

      - name: coursier-cache-action
        uses: coursier/cache-action@v6

      - name: Check formatting for modified files
        run: |
          sbt scalafmtCheckAll
