name: rawls-run-azure-e2e-tests

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch of rawls to run tests on'
        required: true
        default: 'develop'
        type: string

jobs:
  rawls-build-tag-publish-job:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    outputs:
      custom-version-json: ${{ steps.rawls-build-tag-publish.outputs.rawls-custom-version-json }}
    steps:
      name: Build and publish rawls
      id: 'rawls-build-tag-publish'
      uses: ./.github/actions/rawls-build-tag-publish
      with:
        rawls-branch: ${{ inputs.branch }}

  create-bee-workflow:
    runs-on: ubuntu-latest
    needs: [rawls-build-tag-publish-job]
    uses: ./.github/actions/create-bee
    with:
      rawls-custom-version-json: ${{ needs.rawls-build-tag-publish-job.outputs.custom-version-json }}
      terra-env: 'dev'
    permissions:
      contents: 'read'
      id-token: 'write'

  rawls-swat-e2e-test-job:
    strategy:
      matrix:
        terra-env: [ dev ] # what versions of apps do we use to emulate types of environments
        testing-env: [ qa ] # what env resources to use, e.g. SA keys
        test-group: [
          { group_name: workspaces_azure, tag: "-n org.broadinstitute.dsde.test.api.WorkspacesAzureTest" }
        ] # Rawls test groups
    runs-on: ubuntu-latest
    needs: [create-bee-workflow]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: dispatch to terra-github-workflows
        env:
          rawls_base_test_entrypoint: "testOnly -- -l ProdTest -l NotebooksCanaryTest"
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: .github/workflows/rawls-swat-tests.yaml
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          token: ${{ secrets.BROADBOT_TOKEN }} # github token for access to kick off a job in the private repo
          # manually recalculate b/c env context is broken https://github.com/actions/runner/issues/480
          inputs: '{ "bee-name": "${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_attempt}}-${{ matrix.terra-env }}", "ENV": "${{ matrix.testing-env }}", "ref": "refs/heads/${{ inputs.branch }}", "test-group-name": "${{ matrix.test-group.group_name }}", "test-command": "${{ env.rawls_base_test_entrypoint }} ${{ matrix.test-group.tag }}", "java-version": "17" }'

  destroy-bee-workflow:
    runs-on: ubuntu-latest
    needs: [ rawls-swat-e2e-test-job ]
    if: always() # always run to confirm bee is destroyed
    uses: ./.github/actions/destroy-bee
    with:
      terra-env: 'dev'
    permissions:
      contents: 'read'
      id-token: 'write'

  notify-slack-on-failure:
    runs-on: ubuntu-latest
    needs: [rawls-build-tag-publish-job, create-bee-workflow, rawls-swat-e2e-test-job, destroy-bee-workflow] # Want to notify regardless of which step fails
    if: ${{ failure() }} # Can use !cancelled() if always want to notify.
    steps:
      - name: Notify slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          # Channel is for #dsp-workspaces-test-alerts
          channel-id: 'C03F21QEWV7'
          slack-message: "Azure E2E Tests FAILED, branch: ${{ inputs.branch }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACKBOT_TOKEN }}
