name: rawls-run-azure-e2e-tests

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch of rawls to run tests on'
        required: true
        default: 'develop'
        type: string
      delete-bee:
        description: 'Delete created bee after running tests'
        required: true
        default: true
        type: boolean
      owner-subject:
        description: 'Owner (used for creating tmp billing project)'
        required: true
        default: 'hermione.owner@quality.firecloud.org'
        type: string
      non-owner-subject:
        description: 'Student (non-owner used for e2e testing)'
        required: true
        default: 'harry.potter@quality.firecloud.org'
        type: string
      service-account:
        description: 'Email address or unique identifier of the Google Cloud service account for which to generate credentials'
        required: true
        default: 'firecloud-qa@broad-dsde-qa.iam.gserviceaccount.com'
        type: string
      access-token-scopes:
        description: 'List of OAuth 2.0 access scopes to be included in the generated token'
        required: true
        default: 'profile, email, openid'
        type: string
      tenant-id:
        description: 'Azure tenant ID. The default tenant is DSP Terra Dev'
        required: true
        default: 'fad90753-2022-4456-9b0a-c7e5b934e408'
        type: string
      subscription-id:
        description: 'Azure subscription ID'
        required: true
        default: 'f557c728-871d-408c-a28b-eb6b2141a087. The default subscription is 8201558-dsp-azure-testing'
        type: string
      mrg-id:
        description: 'Azure Managed Resource Group name. The default is staticTestingMrg within subscription 8201558-dsp-azure-testing.'
        required: true
        default: 'staticTestingMrg'
        type: string
      landing-zone-id:
        description: 'Landing Zone ID. An existing LZID tag within a given MRG.'
        required: true
        default: 'f41c1a97-179b-4a18-9615-5214d79ba600'
        type: string

env:
  BEE_NAME: '${{ github.event.repository.name }}-${{ github.run_id }}-${{ github.run_attempt}}-dev'
  TOKEN: '${{ secrets.BROADBOT_TOKEN }}' # github token for access to kick off a job in the private repo

jobs:
  init-github-context:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.extract-inputs.outputs.branch }}
      delete-bee: ${{ steps.extract-inputs.outputs.delete-bee }}
    steps:
      - name: Get inputs or use defaults
        id: extract-inputs
        run: |
          echo "branch=${{ inputs.branch || 'develop' }}" >> "$GITHUB_OUTPUT"
          echo "delete-bee=${{ inputs.delete-bee || false }}" >> "$GITHUB_OUTPUT"

  rawls-build-tag-publish-job:
    runs-on: ubuntu-latest
    needs: [init-github-context]
    permissions:
      contents: 'read'
      id-token: 'write'
    outputs:
      custom-version-json: ${{ steps.render-rawls-version.outputs.custom-version-json }}
    steps:
      - uses: 'actions/checkout@v3'
        with:
          ref: ${{ needs.init-github-context.outputs.branch }}

      - name: Bump the tag to a new version
        uses: databiosphere/github-actions/actions/bumper@bumper-0.2.0
        id: tag
        env:
          DEFAULT_BUMP: patch
          GITHUB_TOKEN: ${{ env.TOKEN }}
          RELEASE_BRANCHES: main
          WITH_V: true

      - name: dispatch build to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: rawls-build
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          token: ${{ env.TOKEN }}
          inputs: '{ "repository": "${{ github.event.repository.full_name }}", "ref": "refs/heads/${{ needs.init-github-context.outputs.branch }}", "rawls-release-tag": "${{ steps.tag.outputs.tag }}" }'

      - name: Render Rawls version
        id: render-rawls-version
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
          echo "custom-version-json={\\\"rawls\\\":{\\\"appVersion\\\":\\\"${{ steps.tag.outputs.tag }}\\\"}}" >> $GITHUB_OUTPUT

  create-bee-workflow:
    runs-on: ubuntu-latest
    needs: [rawls-build-tag-publish-job]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Echo Rawls version
        run: |
          echo '${{ needs.rawls-build-tag-publish-job.outputs.custom-version-json }}'

      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: bee-create
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          token: ${{ env.TOKEN }}
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}", "bee-template-name": "rawls-e2e-azure-tests", "version-template": "dev", "custom-version-json": "${{ needs.rawls-build-tag-publish-job.outputs.custom-version-json }}" }'

  # This job provisions useful parameters for e2e tests, including access tokens.
  # Please note: access tokens are for use in the same workflow, they cannot be dispatched to remote workflows.
  az-e2e-params-gen:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    outputs:
      owner-access-token: ${{ steps.owner_auth.outputs.access_token }}
      non-owner-access-token: ${{ steps.non_owner_auth.outputs.access_token }}
      project-name: ${{ steps.gen.outputs.project_name }}
    steps:
      - uses: 'actions/checkout@v3'

      - name: Generate OAuth2 2.0 access token for owner
        id: 'owner_auth'
        uses: google-github-actions/auth@v1
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/1038484894585/locations/global/workloadIdentityPools/github-wi-pool/providers/github-wi-provider'
          service_account: ${{ inputs.service-account }}
          access_token_scopes: ${{ inputs.access-token-scopes }}
          access_token_subject: ${{ inputs.owner-subject }}
          export_environment_variables: false

      - name: Generate OAuth2 2.0 access token for non-owner
        id: 'non_owner_auth'
        uses: google-github-actions/auth@v1
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/1038484894585/locations/global/workloadIdentityPools/github-wi-pool/providers/github-wi-provider'
          service_account: ${{ inputs.service-account }}
          access_token_scopes: ${{ inputs.access-token-scopes }}
          access_token_subject: ${{ inputs.non-owner-subject }}
          export_environment_variables: false

      - name: Generate a random billing project name
        id: 'gen'
        run: |
          project_name=$(echo "tmp-billing-project-$(uuidgen)" | cut -c -30)
          echo "project_name=${project_name}" >> $GITHUB_OUTPUT

  attach-landing-zone-to-bee-workflow:
    runs-on: ubuntu-latest
    needs: [az-e2e-params-gen, create-bee-workflow]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Verify token generation
        run: |
          echo ${{ needs.az-e2e-params-gen.outputs.owner-access-token }}

      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: attach-landing-zone-to-bee.yaml
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/iv-az-e2e-1
          token: ${{ env.TOKEN }}
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}", "billing-project": "${{ needs.az-e2e-params-gen.outputs.project-name }}", "tenant-id": "${{ inputs.tenant-id }}", "subscription-id": "${{ inputs.subscription-id }}", "mrg-id": "${{ inputs.mrg-id }}", "landing-zone-id": "${{ inputs.landing-zone-id }}", "billing-project-creator": "${{ inputs.owner-subject }}", "service-account": "${{ inputs.service-account }}" }'

  rawls-swat-e2e-test-job:
    runs-on: ubuntu-latest
    needs: [az-e2e-params-gen, attach-landing-zone-to-bee-workflow, create-bee-workflow, init-github-context]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: dispatch to terra-github-workflows
        env:
          rawls_test_command: "testOnly -- -l ProdTest -l NotebooksCanaryTest -n org.broadinstitute.dsde.test.api.WorkspacesAzureTest"
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: .github/workflows/rawls-swat-tests.yaml
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/iv-az-e2e-1
          token: ${{ env.TOKEN }}
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}", "ENV": "qa", "ref": "refs/heads/${{ needs.init-github-context.outputs.branch }}", "test-group-name": "workspaces_azure", "test-command": "${{ env.rawls_test_command }}", "java-version": "17", "billing-project": "${{ needs.az-e2e-params-gen.outputs.project-name }}", "e2e": "true", "service-account": "${{ inputs.service-account }}" }'

  delete-billing-project-v2-from-bee-workflow:
    runs-on: ubuntu-latest
    needs: [az-e2e-params-gen, rawls-swat-e2e-test-job]
    if: false
    steps:
      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: .github/workflows/delete-billing-project-v2-from-bee.yaml
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/iv-az-e2e-1
          token: ${{ env.TOKEN }}
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}", "billing-project": "${{ needs.az-e2e-params-gen.outputs.project-name }}", "billing-project-owner": "${{ inputs.owner-subject }}", "service-account": "${{ inputs.service-account }}" }'

  destroy-bee-workflow:
    runs-on: ubuntu-latest
    needs: [rawls-swat-e2e-test-job, delete-billing-project-v2-from-bee-workflow, init-github-context]
    if: ${{ needs.init-github-context.outputs.delete-bee }} # always run to confirm bee is destroyed unless explicitly requested not to
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v3
        with:
          workflow: bee-destroy
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          token: ${{ env.TOKEN }}
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}" }'

  notify-slack-on-failure:
    runs-on: ubuntu-latest
    needs: [init-github-context, rawls-build-tag-publish-job, create-bee-workflow, rawls-swat-e2e-test-job, destroy-bee-workflow] # Want to notify regardless of which step fails
    if: false
    steps:
      - name: Notify slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          # Channel is for #dsp-workspaces-test-alerts
          channel-id: 'C03F21QEWV7'
          slack-message: "Azure E2E Tests FAILED, branch: ${{ needs.init-github-context.outputs.branch }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACKBOT_TOKEN }}
