name: Scala tests with coverage

on:
  pull_request:
    paths-ignore: ['**.md']
  push:
    paths-ignore: ['**.md']

jobs:

  test:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Git secrets setup
        run: |
          git clone https://github.com/broadinstitute/git-secrets.git ~/git-secrets
          cd ~/git-secrets
          git checkout ad82d68ee924906a0401dfd48de5057731a9bc84
          sudo make install

      - name: Secrets check
        run: |
          ./minnie-kenny.sh --force
          git secrets --scan-history

   
